
<% session[:cart].each do |key, val| %>
  В кафе <%= Restaurant.find(key).name %> заказали: <br>

  <% val.each do |k, v| %>
    <p>
    <% food = Food.find(k) %>
    Блюдо: <%= food.name %>  <br>
    по цене: <%=  food.price %> <br>
    в количестве: <%= v %> <br>
    <% total =  food.price * v %> 
    На сумму: <%= total %> сомов
    </p>
  <% end %>

  <span></span>
  <hr>
<% end %>


  

