<%= form_for(@shopingcart) do |f| %>
  <% if @shopingcart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shopingcart.errors.count, "error") %> prohibited this shopingcart from being saved:</h2>

      <ul>
      <% @shopingcart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :counter %><br>
    <%= f.number_field :counter %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
