<p id="notice"><%= notice %></p>

<h1> Содержимое корзины</h1>
<br>

<div class="view_cart col-md-12" id='comments-link'>
  <h1>Ваш счет</h1>

  <div id="basket_all">
    <%= render 'basket' %>
  </div>
</div>
<p><%= link_to 'Очистить корзину', shopingcarts_clear_path, class: "btn btn-danger"  %>		</p>
<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

<br>
     
      
 




