<%= form_for(@food)  do |f| %>
  <% if @food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% @food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <% if params['rest_id'] %>
  Блюдо для меню Ресторана:
  <%= Restaurant.find(params[:rest_id]).name %>

      <div class="field">
        <%= f.file_field :image %>
      </div>
      <div class="field">
        <%= f.hidden_field :restaurant_id, value: params[:rest_id] %><br>
      </div>

      <div class="field">
        <%= f.label :category %><br>
        <%= f.collection_select :category_id, Restaurant.find(params[:rest_id]).categories, :id, :name %><br>
      </div>
  <% else %>
      <div class="field">
        <%= f.label :restaurant %><br>
        <%= f.collection_select :restaurant_id, Restaurant.all, :id, :name %><br>
      </div>
      <div class="field">
        <%= f.label :category %><br>
        <%= f.collection_select :category_id, Category.all, :id, :name %><br>
      </div>
  <% end %>  

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field image_button">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit' , class: "btn btn-default" %>
  </div>
<% end %>
